<!DOCTYPE html>
<html>
<head>
    <title><%= data %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>test 테이블의 레코드</h1>
<p> <%= data %></p>
</body>
</html>


<!--
<!DOCTYPE html>
<html>
<head>
    <title><%= data %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= data %></h1>
<p>Welcome to <%= data %></p>
</body>
</html>
-->
